
/* Keep your global app styles here */

body {
	margin: 40px;
}

.app {
	width: 650px;
	border: 1px solid #999;
	text-align: center;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #ccc;
}
